<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
</head>

<body>
    <div class="container-md">
        <h1>姓名：{{name}}</h1>
        <p>國文分數：{{chinese}}</p>
        <p>英文分數：{{english}}</p>
        <p>數學分數：{{math}}</p>
    </div>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.js')}}">

    </script>
</body>

</html>